* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

#wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  min-height: 100vh;
}

h1 {
  margin: 2rem;
  font-size: 4rem;
}
#etchGrid {
  display: grid;
  grid-gap: 0;
  width: 750px;
  height: 750px;
}
#etchGrid:hover {
  cursor: pointer;
}
.grid-item {
  border: 1px solid #ddd;
  text-align: center;
}

.grid-item:hover {
  cursor: pointer;
}

button {
  position: fixed;
  top: 1%;
  left: 1%;
  font-size: 2rem;
  background: transparent;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.4em auto;
  }
}
